<!DOCTYPE html>
<html>
  <head>
    <title>Malauzai Coding Challenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBAnEpGMdG4aeb-chrxedvGa74BYhpY2DI' %>
    <%= yield(:head_tags) %>
  </head>

  <body>
     <%= yield %>
  </body>
</html>
