<!DOCTYPE html>
<head>
</head>
<body>
    <h3>Malauzai Code Challenge</h3>
    <%= form_tag("/searches") do %>
        <%= label_tag('search[name]', "Name: ") %>
        <%= text_field_tag('search[name]') %>
        <br>
        <%= label_tag('search[latitude]', "Latitude: ") %>
        <%= text_field_tag('search[latitude]') %>
        <br>
        <%= label_tag('search[longitude]', "Longitude: ") %>
        <%= text_field_tag('search[longitude]') %>
        <br>
        <%= submit_tag "Search!"%>
    <% end %>
    <a href="/searches">Searches</a>
</body>
</html>